{{/* Header */}}

<div class="header">

    {{ if or (not (.Param "hideHeader")) .IsHome }}

    <div class="flex">

        <a href="{{  .Site.BaseURL }}" class="logo-link">
            <image src="/images/logo.png" alt="{{ .Site.Params.title }}" class="logo" />
        </a>

        {{ $currentPage := . }}

        {{ with site.Params.menu }}
        {{ range . }}
      
        <p class="{{ if eq .name (lower $currentPage.Name) }} current {{end}}">
            <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab }}target="_blank" rel="noopener noreferrer"{{ end }}>
                {{.name }}
            </a>
        </p>
        {{ end }}
        {{ end }}
    </div>

    {{ end }}

</div>
