{{/* Header */}}

<div class="header">

    {{ if or (not (.Param "hideHeader")) .IsHome }}


        <a href="{{  .Site.BaseURL }}" class="logo-link">
            <image src="/images/iso-logo.png" alt="{{ .Site.Params.title }}" class="logo" />
        </a>

        <nav class="menu">
            {{ $currentPage := . }}

            {{ with site.Params.menu }}
            {{ range . }}
          
            <p class="{{ if eq .name (lower $currentPage.Name) }} current {{end}}">
                <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab }}target="_blank" rel="noopener noreferrer"{{ end }}>
                    {{.name }}
                </a>
            </p>
            {{ end }}
            {{ end }}
        </nav>
        <div class="language-selector">
            {{ range $.Site.Home.AllTranslations }}
            <div><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></div>
            {{ end }}
        </div>

        <label class="toggle theme-toggle">
            <input class="toggle-checkbox" type="checkbox">
            <div class="toggle-switch"></div>
        </label>


    {{ end }}

</div>

{{ if .Site.Params.mermaid }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}