<div class="post-line">

    {{ $dateFormat := "2 Jan 2006"}}
    {{ with .Site.Params.listDateFormat }}
    {{ $dateFormat = .}}
    {{ end }}

    <div class="line-post-content">
        <span class="line-tags">
            {{ if .Params.tags }}
                {{ range .Params.tags }}
                    <span class="tag-box">{{ . }}</span>
                {{ end }}
            {{ end }}
        </span>
        <span class="line-title">
            <a href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>
        </span>

        <!--
            {{ if .Site.Params.listSummaries }}
                <p class="line-summary"> {{ .Summary }} </p>
            {{ end }}
        -->
    </div>

    <p class="line-date">{{ .Date.Format $dateFormat }} </p>
</div>